<h1> NEW TASK</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %> <br>
  <%= f.text_field :title %><br>

  <%= f.label :details %> <br>
  <%= f.text_field :details %> <br>

  <%= f.submit %> <br>
<% end %>

 <div>
    <%= link_to 'Go back to index', tasks_path %>
 </div>
